<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <nlog>
    <targets>
      <target
          name="console"
          type="Console"
          layout="#[${longdate}] [TID:${threadid:padCharacter= :padding=-3}] [${level:uppercase=true:padCharacter= :padding=-5}] [${logger:shortName=true}]# ${message} ${exception:format=ToString:maxInnerExceptionLevel=100}"
          />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
</configuration>